@import url(http://weloveiconfonts.com/api/?family=fontawesome|zocial);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
  max-width: 100%;
}

body {
  margin-bottom: 80px; /* bottom = footer height */
  max-width: 100%;
  background-color: antiquewhite;
}

h1 {
  color: royalblue;
  margin: 0;
}

h2 {
  font-size: .9em;
  color: white;
  text-align: center;
}

h4 {
  margin: 0;
  color: slategrey;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
}

.header {
  margin: auto;
  background-color: moccasin;
  padding-top: 1em;
  padding-bottom: 10px;
  padding-left: 20px;
  max-width: 100%;
}

.navigation {
  display: flex;
  background-color: slategrey;
  width: 100%;
}

.nav-item {
  width: 33%;
}

.verse-area {

}

.footer {
  color: grey;
  display: flex;
  width: 100%;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80px; /* !Must match the body bottom margin */
  overflow: hidden;
}

.footer-item {
  color: inherit;
}

.zocials {
  display:flex;
  float: right;
}

.zocial-email,
.zocial-linkedin,
.fontawesome-github {
  color: inherit;
  font-size: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

#copyright {
  padding-left: 1em;
  width: 40%;
}

#developer-info {
  padding-right: 1em;
  width: 60%;
  text-align: right;
}
