/*
CUSTOM FONTS ////////////////////
*/

@import url(http://weloveiconfonts.com/api/?family=fontawesome|zocial);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

/*
PRIMARY ELEMENTS ////////////////////
*/

html {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  margin: 0 0 0 0;
}

body {
  margin: 0 0 80px 0; /* bottom = footer height */
  max-width: 100%;
  background-color: grey;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
}

h1 {
  color: slategrey;
  margin: 0;
}

h2 {
  font-size: .9em;
  color: white;
  text-align: center;
}

h4 {
  margin: 0;
  color: slategrey;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
}

input {
  font-family: 'Quicksand', sans-serif;
}

/*
HEADER ELEMENTS ////////////////////
*/

.header {
  box-sizing: border-box;
  margin: auto;
  background-color: #c5ccd3;
  padding-top: 1em;
  padding-bottom: 10px;
  padding-left: 20px;
  max-width: 100%;
}

.header em {
  color: grey;
}

/*
NAVIGATION ELEMENTS ////////////////////
*/

.navigation {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.nav-item {
  background-color: slategrey;
  flex: 1;
}

.nav-item:hover {
  background-color: #374048;
}

.nav-item input {
  height: 100%;
  border-width: 0 0 0 0;
  padding: 0 0 0 0;
}

#nav-votd:hover h2,
#nav-random:hover h2 {
  color: orange;
}

#display-searcher {
  cursor: default;
}

#nav-votd,
#nav-random {
  cursor: pointer;
}

#search-passage {
  width: 100%;
  text-overflow: ellipsis;
}

/*
MAIN DISPLAY AREA ////////////////////
*/

.verse-display {
  width: 100%;
}

.verse-display hr {
  width: 20%;
}

.display-reference {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  font-size: 1.5em;
  color: white;
}

.display-content {
  font-size: 1.5em;
  text-align: center;
  line-height: 2;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

/*
FOOTER ELEMENTS ////////////////////
*/

.footer {
  color: grey;
  display: flex;
  align-items: flex-end;
  width: 100%;
  background-color: #c5ccd3;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80px; /* !Must match the body bottom margin */
  overflow: hidden;
  justify-content: space-between;
}

.footer-item {
  color: inherit;
}

.footer-item:nth-child(1) {flex-basis: 40%;}
.footer-item:nth-child(2) {flex-basis: 15%;}

.zocials {
  display:flex;
}

.zocials a {
  flex:1;
}

.zocial-email,
.zocial-linkedin,
.fontawesome-github {
  color: inherit;
  font-size: 20px;
}

#copyright {
  padding-left: 1em;
}

#developer-info {
  padding-right: 1em;
  text-align: right;
}
