<!DOCTYPE html>
<!-- This application created by Kevin Fischer -->
<html ng-app="application" ng-controller="SearchController">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Living Word Bible Search</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <!-- HEADER -->
  <div class="header">
    <h1 id="site-title">Living Word Bible Search</h1>
    <h4 id="site-subtitle">A Web Application Developed By Kevin Fischer</h4>
  </div>

  <!-- NAVIGATION BAR -->
  <div class="navigation">

    <div class="nav-item" id="nav-votd">
      <h2 ng-click="getVotd()">Verse of the Day</h2>
    </div>

    <div class="nav-item" id="nav-search">
      <input type="text" ng-model="passageInput"
      ng-change="updateVerse()" placeholder="Enter passage  (e.g. John 3:16)"
      id="search-passage">
    </div>

    <div class="nav-item" id="nav-random">
      <h2 ng-click="callRandomVerse()">Random Verse</h2>
    </div>

  </div>

  <!-- VERSE DISPLAY AREA PLACEHOLDER -->
  <div>
    <!-- Placeholder for the view -->
    <div data-ng-view>
    </div>
  </div>

  <!-- FOOTER -->
  <div class="footer">

    <!-- copyright information from api publisher -->
    <div class="footer-item" id="copyright">
      <p>Scripture quoted by permission. Quotations designated (NET) are from
        the NET Bible® copyright ©1996-2016 by Biblical Studies Press, L.L.C.
        http://netbible.com All rights reserved. </p>
    </div>

    <!-- developer information -->
    <div class="footer-item" id="developer-info">
      <p>Developed by Kevin Fischer</p>
      <div class="zocials">
        <a class="zocial-email" href="mailto:fischk5@hotmail.com"></a>
        <a class="fontawesome-github" href="https://github.com/fischk5"></a>
        <a class="zocial-linkedin" href="https://www.linkedin.com/in/kevin-fischer-80b06373"></a>
      </div>
    </div>
  </div>




  <!-- Load jquery v3.2.1 -->
  <script src="js/jquery-3.2.1.js"></script>

  <!-- Load Angular framework v1.6.4 -->
  <script src="js/angular.min.js"></script>
  <script src="js/angular-route.js"></script>

  <!-- Load custom application JS -->
  <script src="js/app.js"></script>

</body>

</html>
